In [1]:
from xgboost.sklearn import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import xgboost as xgb
from sklearn import model_selection, metrics
from sklearn.model_selection import GridSearchCV

In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import numpy as np

In [4]:
df = pd.read_csv(os.path.join("microbiome_dataset_prevalence_bf.csv"))
df.head()

             Genus  Month Delivery_type  Infant_Prevalence  Mother_Prevalence
0  Acidaminococcus      0       Vaginal                3.0                 27
1       Acidovorax      0       Vaginal                0.0                  1
2   Actinobacillus      0       Vaginal                2.0                  0
3      Actinomyces      0       Vaginal                6.0                 65
4        Aeromonas      0       Vaginal                0.0                  0

In [5]:
df1 = df[['Month', 'Delivery_type', 'Infant_Prevalence','Mother_Prevalence','Genus']]
df1.head()

   Month Delivery_type  Infant_Prevalence  Mother_Prevalence            Genus
0      0       Vaginal                3.0                 27  Acidaminococcus
1      0       Vaginal                0.0                  1       Acidovorax
2      0       Vaginal                2.0                  0   Actinobacillus
3      0       Vaginal                6.0                 65      Actinomyces
4      0       Vaginal                0.0                  0        Aeromonas

In [6]:
one_hot_df1 = pd.get_dummies(df1, prefix=['Delivery_type','Genus'])
one_hot_df1.head()

,Month,Infant_Prevalence,Mother_Prevalence,Delivery_type_C-section,Delivery_type_Vaginal,Genus_Acidaminococcus,Genus_Acidovorax,Genus_Actinobacillus,Genus_Actinomyces,Genus_Aeromonas,...,Genus_Streptococcus,Genus_Subdoligranulum,Genus_Sutterella,Genus_Turicibacter,Genus_Ureaplasma,Genus_Veillonella,Genus_Victivallis,Genus_Xanthomonas,Genus_Xenorhabdus,Genus_Yersinia
0,0,3.0,27,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0.0,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,2.0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,6.0,65,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0.0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [7]:
target = one_hot_df1["Month"]
target_names = ["newborn", "4M"]

In [8]:
data = one_hot_df1.drop("Month", axis=1)
feature_names = data.columns
data.head()

,Infant_Prevalence,Mother_Prevalence,Delivery_type_C-section,Delivery_type_Vaginal,Genus_Acidaminococcus,Genus_Acidovorax,Genus_Actinobacillus,Genus_Actinomyces,Genus_Aeromonas,Genus_Aggregatibacter,...,Genus_Streptococcus,Genus_Subdoligranulum,Genus_Sutterella,Genus_Turicibacter,Genus_Ureaplasma,Genus_Veillonella,Genus_Victivallis,Genus_Xanthomonas,Genus_Xenorhabdus,Genus_Yersinia
0,3.0,27,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6.0,65,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target,  test_size=0.3,random_state=72)

In [59]:
model = XGBClassifier(n_estimators=1000,colsample_bylevel=0.8, gamma=10) 
model.fit(X_train, y_train) 
print(model)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=0.8,
              colsample_bynode=0.8, colsample_bytree=1, gamma=10,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=1000, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [60]:
y_pred = model.predict(X_test)
predictions =[round(value) for value in y_pred]

In [61]:
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" %(accuracy*100))

Accuracy: 78.23%