In [6]:
from xgboost.sklearn import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import xgboost as xgb
from sklearn import model_selection, metrics
from sklearn.model_selection import GridSearchCV

In [7]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import numpy as np

In [28]:
df = pd.read_csv(os.path.join("Q3_delivery_char_v10.csv"))
df.head(2)
df.count()

Month                               3690
Birthplace                          3690
Delivery                            3690
Fetalpresentation                   3690
Bin_Five_min_APGAR_score_code       3690
Average_Age_Mother_years            3690
Average_Birth_Weight_grams          3690
Average_Prenatal_Visits             3690
Average_OE_Gestational_Age_weeks    3690
Average_Pre-pregnancy_BMI           3621
Births                              3690
dtype: int64

In [29]:
df = df.dropna()
df.head()

,Month,Birthplace,Delivery,Fetalpresentation,Bin_Five_min_APGAR_score_code,Average_Age_Mother_years,Average_Birth_Weight_grams,Average_Prenatal_Visits,Average_OE_Gestational_Age_weeks,Average_Pre-pregnancy_BMI,Births
0,January,Hospital,Vaginal,Cephalic,0,27.78,1948.11,8.06,30.03,27.83,172
1,January,Hospital,Vaginal,Cephalic,0,27.87,1354.81,6.65,26.65,28.90,880
2,January,Hospital,Vaginal,Cephalic,0,27.63,2263.18,8.61,32.50,27.41,602
3,January,Hospital,Vaginal,Cephalic,0,27.53,2775.35,10.08,35.71,27.60,647
4,January,Hospital,Vaginal,Cephalic,0,27.41,2875.56,10.15,36.63,26.93,905

In [30]:
df.count()

Month                               3621
Birthplace                          3621
Delivery                            3621
Fetalpresentation                   3621
Bin_Five_min_APGAR_score_code       3621
Average_Age_Mother_years            3621
Average_Birth_Weight_grams          3621
Average_Prenatal_Visits             3621
Average_OE_Gestational_Age_weeks    3621
Average_Pre-pregnancy_BMI           3621
Births                              3621
dtype: int64

In [31]:
df1 = df[['Bin_Five_min_APGAR_score_code','Average_Age_Mother_years','Average_Birth_Weight_grams','Average_Prenatal_Visits','Average_OE_Gestational_Age_weeks','Average_Pre-pregnancy_BMI','Births','Month', 'Birthplace','Delivery', 'Fetalpresentation']]
df1.head(2)

,Bin_Five_min_APGAR_score_code,Average_Age_Mother_years,Average_Birth_Weight_grams,Average_Prenatal_Visits,Average_OE_Gestational_Age_weeks,Average_Pre-pregnancy_BMI,Births,Month,Birthplace,Delivery,Fetalpresentation
0,0,27.78,1948.11,8.06,30.03,27.83,172,January,Hospital,Vaginal,Cephalic
1,0,27.87,1354.81,6.65,26.65,28.90,880,January,Hospital,Vaginal,Cephalic

In [33]:
one_hot_df1 = pd.get_dummies(df1, prefix=['Month', 'Birthplace','Delivery', 'Fetalpresentation'])
one_hot_df1.head()

,Bin_Five_min_APGAR_score_code,Average_Age_Mother_years,Average_Birth_Weight_grams,Average_Prenatal_Visits,Average_OE_Gestational_Age_weeks,Average_Pre-pregnancy_BMI,Births,Month_April,Month_August,Month_December,...,Month_September,Birthplace_Freestanding_Birth_Center,Birthplace_Home,Birthplace_Hospital,Birthplace_Other,Delivery_Csection,Delivery_Vaginal,Fetalpresentation_Breech,Fetalpresentation_Cephalic,Fetalpresentation_Other
0,0,27.78,1948.11,8.06,30.03,27.83,172,0,0,0,...,0,0,0,1,0,0,1,0,1,0
1,0,27.87,1354.81,6.65,26.65,28.90,880,0,0,0,...,0,0,0,1,0,0,1,0,1,0
2,0,27.63,2263.18,8.61,32.50,27.41,602,0,0,0,...,0,0,0,1,0,0,1,0,1,0
3,0,27.53,2775.35,10.08,35.71,27.60,647,0,0,0,...,0,0,0,1,0,0,1,0,1,0
4,0,27.41,2875.56,10.15,36.63,26.93,905,0,0,0,...,0,0,0,1,0,0,1,0,1,0

In [34]:
X = one_hot_df1.iloc[:, 1:28].values
y = one_hot_df1.iloc[:, 0].values

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=27)

In [70]:
model = XGBClassifier(n_estimators=1000,colsample_bytree=0.8,max_depth=6) 
model.fit(X_train, y_train) 
print(model)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.8, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=None, n_estimators=1000, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [71]:
y_pred = model.predict(X_test)
predictions =[round(value) for value in y_pred]

In [72]:
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" %(accuracy*100))

Accuracy: 85.46%