In [15]:
#Import Dependencies

import pandas as pd
import numpy as np
from datetime import datetime

In [16]:
# Import Data
df = pd.read_csv('infant_gut_microbiota_alignment_filtered_sr1d.tsv', sep='\t')
df.head()

,SubjectID,Day of life sample obtained,Gestational age at birth,Postconceptional age sample obtained,Gender,Mode of birth,Room type,Human milk used,Days of antibiotics,Actinobacteria,...,Betaproteobacteria,Clostridia,Cyanobacteria,Epsilonproteobacteria,Erysipelotrichi,Flavobacteria,Fusobacteria,Gammaproteobacteria,Holophagae,Unclassified
0,3,35,25.0,29.368359,0,1,1,1,20,0.000000,...,0.000069,0.003521,0.0,0.0,0.0,0.0,0.0,0.930704,0.0,0.000048
1,3,36,25.0,29.486423,0,1,1,1,20,0.000000,...,0.000063,0.029584,0.0,0.0,0.0,0.0,0.0,0.834861,0.0,0.000054
2,3,37,25.0,29.604486,0,1,1,1,20,0.000000,...,0.000055,0.041818,0.0,0.0,0.0,0.0,0.0,0.790087,0.0,0.000084
3,3,38,25.0,29.722550,0,1,1,1,20,0.000827,...,0.000048,0.041753,0.0,0.0,0.0,0.0,0.0,0.790111,0.0,0.000138
4,3,39,25.0,29.840614,0,1,1,1,20,0.001548,...,0.000041,0.032024,0.0,0.0,0.0,0.0,0.0,0.826235,0.0,0.000213