In [22]:
#Import Dependencies

import pandas as pd
import numpy as np
from datetime import datetime

In [23]:
# Import Data
dfIGsr1d = pd.read_csv('infant_gut_microbiota_alignment_filtered_sr1d.tsv', sep='\t')
dfIGsr1d.head()

,SubjectID,Day of life sample obtained,Gestational age at birth,Postconceptional age sample obtained,Gender,Mode of birth,Room type,Human milk used,Days of antibiotics,Actinobacteria,...,Betaproteobacteria,Clostridia,Cyanobacteria,Epsilonproteobacteria,Erysipelotrichi,Flavobacteria,Fusobacteria,Gammaproteobacteria,Holophagae,Unclassified
0,3,35,25.0,29.368359,0,1,1,1,20,0.000000,...,0.000069,0.003521,0.0,0.0,0.0,0.0,0.0,0.930704,0.0,0.000048
1,3,36,25.0,29.486423,0,1,1,1,20,0.000000,...,0.000063,0.029584,0.0,0.0,0.0,0.0,0.0,0.834861,0.0,0.000054
2,3,37,25.0,29.604486,0,1,1,1,20,0.000000,...,0.000055,0.041818,0.0,0.0,0.0,0.0,0.0,0.790087,0.0,0.000084
3,3,38,25.0,29.722550,0,1,1,1,20,0.000827,...,0.000048,0.041753,0.0,0.0,0.0,0.0,0.0,0.790111,0.0,0.000138
4,3,39,25.0,29.840614,0,1,1,1,20,0.001548,...,0.000041,0.032024,0.0,0.0,0.0,0.0,0.0,0.826235,0.0,0.000213

In [24]:
dfIGsr1d.shape

(1498, 23)

In [25]:
dfIGsr1d.describe()

,SubjectID,Day of life sample obtained,Gestational age at birth,Postconceptional age sample obtained,Gender,Mode of birth,Room type,Human milk used,Days of antibiotics,Actinobacteria,...,Betaproteobacteria,Clostridia,Cyanobacteria,Epsilonproteobacteria,Erysipelotrichi,Flavobacteria,Fusobacteria,Gammaproteobacteria,Holophagae,Unclassified
count,1498.000000,1498.000000,1498.000000,1498.000000,1498.000000,1498.000000,1498.000000,1498.000000,1498.000000,1498.000000,...,1498.000000,1498.000000,1498.000000,1498.000000,1498.000000,1498.000000,1498.000000,1498.000000,1.498000e+03,1498.000000
mean,32.014686,40.014019,27.546262,30.771140,0.448598,0.821095,0.413218,2.142190,6.887183,0.021465,...,0.005980,0.143011,0.000354,0.000055,0.000040,0.001130,0.000251,0.514392,6.275612e-07,0.006647
std,15.733665,14.082084,2.419596,2.419041,0.497517,0.383401,0.492576,0.861371,6.637072,0.056129,...,0.035668,0.204067,0.004454,0.000137,0.000306,0.003592,0.001907,0.345601,8.527943e-06,0.043335
min,3.000000,3.000000,23.100000,25.023077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,17.000000,31.000000,25.400000,29.032872,0.000000,1.000000,0.000000,1.000000,2.000000,0.000038,...,0.000005,0.000464,0.000000,0.000000,0.000000,0.000000,0.000000,0.177540,0.000000e+00,0.000217
50%,34.000000,42.000000,27.100000,30.677333,0.000000,1.000000,0.000000,2.000000,4.500000,0.003085,...,0.000177,0.018808,0.000000,0.000000,0.000000,0.000044,0.000003,0.550398,0.000000e+00,0.000621
75%,47.000000,51.000000,29.200000,32.727235,1.000000,1.000000,1.000000,3.000000,9.000000,0.014121,...,0.001920,0.268102,0.000078,0.000038,0.000000,0.000560,0.000051,0.836221,0.000000e+00,0.001310
max,58.000000,61.000000,33.000000,35.642857,1.000000,1.000000,1.000000,3.000000,53.000000,0.771934,...,0.530930,0.980432,0.165651,0.001353,0.005700,0.042452,0.057743,0.999971,1.868170e-04,0.596710

In [26]:
# Import Data
dfIGsr3d = pd.read_csv('infant_gut_microbiota_alignment_filtered_sr3d.csv', sep='\t')
dfIGsr3d.head()

,SubjectID,Day of life sample obtained,Gestational age at birth,Postconceptional age sample obtained,Gender,Mode of birth,Room type,Human milk used,Days of antibiotics,Actinobacteria,...,Betaproteobacteria,Clostridia,Cyanobacteria,Epsilonproteobacteria,Erysipelotrichi,Flavobacteria,Fusobacteria,Gammaproteobacteria,Holophagae,Unclassified
0,3,35,25.0,29.368359,0,1,1,1,20,0.000000,...,0.000069,0.003521,0.0,0.0,0.0,0.0,0.0,0.930704,0.0,0.000048
1,3,38,25.0,29.722550,0,1,1,1,20,0.000827,...,0.000048,0.041753,0.0,0.0,0.0,0.0,0.0,0.790111,0.0,0.000138
2,3,41,25.0,30.076741,0,1,1,1,20,0.002498,...,0.000028,0.000000,0.0,0.0,0.0,0.0,0.0,0.958157,0.0,0.000407
3,3,44,25.0,30.430933,0,1,1,1,20,0.003202,...,0.000015,0.000000,0.0,0.0,0.0,0.0,0.0,0.995895,0.0,0.000842
4,3,47,25.0,30.785124,0,1,1,1,20,0.003086,...,0.000006,0.000000,0.0,0.0,0.0,0.0,0.0,0.995499,0.0,0.001392

In [27]:
dfIGsr3d.shape

(517, 23)

In [28]:
dfIGsr3d.describe()

,SubjectID,Day of life sample obtained,Gestational age at birth,Postconceptional age sample obtained,Gender,Mode of birth,Room type,Human milk used,Days of antibiotics,Actinobacteria,...,Betaproteobacteria,Clostridia,Cyanobacteria,Epsilonproteobacteria,Erysipelotrichi,Flavobacteria,Fusobacteria,Gammaproteobacteria,Holophagae,Unclassified
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,...,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,5.170000e+02,517.000000
mean,32.029014,39.659574,27.550097,30.713646,0.450677,0.818182,0.410058,2.139265,6.800774,0.021229,...,0.007282,0.139279,0.000566,0.000059,0.000044,0.001269,0.000206,0.510738,7.433250e-07,0.006891
std,15.737833,14.291001,2.423165,2.446551,0.498043,0.386068,0.492320,0.862632,6.585231,0.052373,...,0.041038,0.206747,0.007387,0.000152,0.000338,0.004100,0.001121,0.350108,9.923950e-06,0.045421
min,3.000000,3.000000,23.100000,25.023077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,17.000000,31.000000,25.400000,28.915476,0.000000,1.000000,0.000000,1.000000,2.000000,0.000104,...,0.000008,0.000470,0.000000,0.000000,0.000000,0.000000,0.000000,0.172065,0.000000e+00,0.000214
50%,34.000000,42.000000,27.100000,30.597959,0.000000,1.000000,0.000000,2.000000,4.000000,0.003121,...,0.000191,0.015301,0.000000,0.000000,0.000000,0.000047,0.000002,0.542961,0.000000e+00,0.000610
75%,47.000000,51.000000,29.200000,32.682028,1.000000,1.000000,1.000000,3.000000,9.000000,0.014456,...,0.001970,0.247557,0.000081,0.000039,0.000000,0.000589,0.000052,0.842582,0.000000e+00,0.001312
max,58.000000,61.000000,33.000000,35.585714,1.000000,1.000000,1.000000,3.000000,53.000000,0.524326,...,0.491944,0.980432,0.165651,0.001353,0.005700,0.042452,0.016633,0.999939,1.868170e-04,0.596710

In [29]:
# Import Data
dfIGsr5d = pd.read_csv('infant_gut_microbiota_alignment_filtered_sr5d.csv', sep='\t')
dfIGsr5d.head()

,SubjectID,Day of life sample obtained,Gestational age at birth,Postconceptional age sample obtained,Gender,Mode of birth,Room type,Human milk used,Days of antibiotics,Actinobacteria,...,Betaproteobacteria,Clostridia,Cyanobacteria,Epsilonproteobacteria,Erysipelotrichi,Flavobacteria,Fusobacteria,Gammaproteobacteria,Holophagae,Unclassified
0,3,35,25.0,29.368359,0,1,1,1,20,0.000000,...,0.000069,0.003521,0.0,0.0,0.0,0.0,0.0,0.930704,0.0,0.000048
1,3,40,25.0,29.958678,0,1,1,1,20,0.002105,...,0.000034,0.015704,0.0,0.0,0.0,0.0,0.0,0.887311,0.0,0.000304
2,3,45,25.0,30.548996,0,1,1,1,20,0.003241,...,0.000012,0.000000,0.0,0.0,0.0,0.0,0.0,0.995698,0.0,0.001014
3,3,50,25.0,31.139315,0,1,1,1,20,0.002415,...,0.000000,0.036456,0.0,0.0,0.0,0.0,0.0,0.889301,0.0,0.002032
4,3,55,25.0,31.729634,0,1,1,1,20,0.000635,...,0.000000,0.262568,0.0,0.0,0.0,0.0,0.0,0.732890,0.0,0.003206

In [30]:
dfIGsr5d.shape

(317, 23)

In [31]:
dfIGsr5d.describe()

,SubjectID,Day of life sample obtained,Gestational age at birth,Postconceptional age sample obtained,Gender,Mode of birth,Room type,Human milk used,Days of antibiotics,Actinobacteria,...,Betaproteobacteria,Clostridia,Cyanobacteria,Epsilonproteobacteria,Erysipelotrichi,Flavobacteria,Fusobacteria,Gammaproteobacteria,Holophagae,Unclassified
count,317.000000,317.000000,317.000000,317.000000,317.00000,317.000000,317.000000,317.000000,317.000000,317.000000,...,317.000000,317.000000,317.000000,317.000000,317.000000,317.000000,317.000000,317.000000,3.170000e+02,317.000000
mean,31.949527,39.085174,27.528707,30.636497,0.44795,0.820189,0.413249,2.132492,6.794953,0.022997,...,0.008214,0.140730,0.000230,0.000063,0.000047,0.001388,0.000301,0.501876,8.751956e-07,0.007207
std,15.787673,14.446179,2.428802,2.462178,0.49807,0.384637,0.493195,0.864993,6.786451,0.058803,...,0.043272,0.208708,0.000904,0.000166,0.000372,0.004500,0.001777,0.346084,1.125569e-05,0.047785
min,3.000000,3.000000,23.100000,25.023077,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,17.000000,30.000000,25.300000,28.797403,0.00000,1.000000,0.000000,1.000000,2.000000,0.000057,...,0.000010,0.001005,0.000000,0.000000,0.000000,0.000000,0.000000,0.156934,0.000000e+00,0.000237
50%,34.000000,41.000000,27.100000,30.548996,0.00000,1.000000,0.000000,2.000000,4.000000,0.003241,...,0.000232,0.017113,0.000000,0.000000,0.000000,0.000050,0.000003,0.519674,0.000000e+00,0.000623
75%,47.000000,50.000000,29.100000,32.525466,1.00000,1.000000,1.000000,3.000000,8.000000,0.014055,...,0.001980,0.262568,0.000092,0.000033,0.000000,0.000618,0.000058,0.824972,0.000000e+00,0.001312
max,58.000000,61.000000,33.000000,35.552381,1.00000,1.000000,1.000000,3.000000,50.000000,0.556855,...,0.491944,0.980432,0.010385,0.001353,0.005700,0.042452,0.023847,0.999971,1.868170e-04,0.596710

In [32]:
# Import Data
dfIGsr7d = pd.read_csv('infant_gut_microbiota_alignment_filtered_sr7d.csv', sep='\t')
dfIGsr7d.head()

,SubjectID,Day of life sample obtained,Gestational age at birth,Postconceptional age sample obtained,Gender,Mode of birth,Room type,Human milk used,Days of antibiotics,Actinobacteria,...,Betaproteobacteria,Clostridia,Cyanobacteria,Epsilonproteobacteria,Erysipelotrichi,Flavobacteria,Fusobacteria,Gammaproteobacteria,Holophagae,Unclassified
0,3,35,25.0,29.368359,0,1,1,1,20,0.000000,...,0.000069,0.003521,0.000000,0.000000,0.0,0.000000,0.000000,0.930704,0.0,0.000048
1,3,42,25.0,30.194805,0,1,1,1,20,0.002848,...,0.000023,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.996519,0.0,0.000539
2,3,49,25.0,31.021251,0,1,1,1,20,0.002679,...,0.000001,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.995512,0.0,0.001804
3,3,56,25.0,31.847698,0,1,1,1,20,0.000253,...,0.000000,0.403644,0.000000,0.000000,0.0,0.000000,0.000000,0.579079,0.0,0.003430
4,7,31,24.0,26.197802,1,0,1,3,7,0.163414,...,0.000725,0.009392,0.000056,0.000147,0.0,0.000395,0.003254,0.000000,0.0,0.000809

In [33]:
dfIGsr7d.shape

(234, 23)

In [34]:
dfIGsr7d.describe()

,SubjectID,Day of life sample obtained,Gestational age at birth,Postconceptional age sample obtained,Gender,Mode of birth,Room type,Human milk used,Days of antibiotics,Actinobacteria,...,Betaproteobacteria,Clostridia,Cyanobacteria,Epsilonproteobacteria,Erysipelotrichi,Flavobacteria,Fusobacteria,Gammaproteobacteria,Holophagae,Unclassified
count,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,...,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,2.340000e+02,234.000000
mean,32.068376,38.833333,27.548718,30.571575,0.452991,0.824786,0.410256,2.145299,6.491453,0.017955,...,0.010631,0.138256,0.000335,0.000066,0.000054,0.001519,0.000211,0.493725,9.975085e-07,0.007477
std,15.775913,14.717439,2.420109,2.481410,0.498852,0.380965,0.492935,0.866793,6.121265,0.039054,...,0.050929,0.211352,0.001776,0.000178,0.000406,0.004921,0.001200,0.356340,1.254491e-05,0.049865
min,3.000000,3.000000,23.100000,25.023077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,17.000000,31.000000,25.400000,28.762974,0.000000,1.000000,0.000000,1.000000,2.000000,0.000100,...,0.000024,0.000389,0.000000,0.000000,0.000000,0.000000,0.000000,0.130036,0.000000e+00,0.000221
50%,34.000000,40.500000,27.100000,30.471442,0.000000,1.000000,0.000000,2.000000,4.000000,0.003106,...,0.000331,0.013184,0.000000,0.000000,0.000000,0.000052,0.000002,0.516217,0.000000e+00,0.000619
75%,47.000000,50.000000,29.175000,32.612185,1.000000,1.000000,1.000000,3.000000,8.000000,0.012890,...,0.002192,0.251146,0.000092,0.000035,0.000000,0.000666,0.000049,0.823758,0.000000e+00,0.001294
max,58.000000,61.000000,33.000000,35.528571,1.000000,1.000000,1.000000,3.000000,40.000000,0.219842,...,0.491944,0.980432,0.024147,0.001353,0.005700,0.042452,0.016633,0.999623,1.868170e-04,0.596710

In [36]:
pd.concat([dfIGsr1d, dfIGsr3d, dfIGsr5d, dfIGsr7d])

,SubjectID,Day of life sample obtained,Gestational age at birth,Postconceptional age sample obtained,Gender,Mode of birth,Room type,Human milk used,Days of antibiotics,Actinobacteria,...,Betaproteobacteria,Clostridia,Cyanobacteria,Epsilonproteobacteria,Erysipelotrichi,Flavobacteria,Fusobacteria,Gammaproteobacteria,Holophagae,Unclassified
0,3,35,25.0,29.368359,0,1,1,1,20,0.000000,...,0.000069,0.003521,0.000000,0.000000,0.0,0.000000,0.000000,0.930704,0.000000e+00,0.000048
1,3,36,25.0,29.486423,0,1,1,1,20,0.000000,...,0.000063,0.029584,0.000000,0.000000,0.0,0.000000,0.000000,0.834861,0.000000e+00,0.000054
2,3,37,25.0,29.604486,0,1,1,1,20,0.000000,...,0.000055,0.041818,0.000000,0.000000,0.0,0.000000,0.000000,0.790087,0.000000e+00,0.000084
3,3,38,25.0,29.722550,0,1,1,1,20,0.000827,...,0.000048,0.041753,0.000000,0.000000,0.0,0.000000,0.000000,0.790111,0.000000e+00,0.000138
4,3,39,25.0,29.840614,0,1,1,1,20,0.001548,...,0.000041,0.032024,0.000000,0.000000,0.0,0.000000,0.000000,0.826235,0.000000e+00,0.000213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,57,57,26.0,33.603687,0,1,1,3,22,0.009891,...,0.001288,0.451319,0.000440,0.000000,0.0,0.000928,0.000007,0.455236,0.000000e+00,0.001359
230,58,4,23.1,25.023077,0,0,0,2,7,0.130720,...,0.007048,0.010727,0.001475,0.000009,0.0,0.003100,0.000000,0.059420,1.868170e-04,0.000000
231,58,11,23.1,26.946154,0,0,0,2,13,0.023496,...,0.002468,0.018036,0.024147,0.000000,0.0,0.000879,0.000009,0.022188,4.470000e-05,0.000904
232,58,18,23.1,28.869231,0,0,0,2,13,0.000000,...,0.001524,0.171913,0.000748,0.000032,0.0,0.000125,0.000006,0.227421,0.000000e+00,0.001092
233,58,25,23.1,30.792308,0,0,0,2,21,0.097282,...,0.003595,0.006010,0.001185,0.000051,0.0,0.000641,0.000000,0.013713,3.600000e-07,0.000515