In [1]:
# Dependencies
import requests
import json
import pandas as pd
import numpy as np

In [4]:
q1 = pd.read_csv('machine_learn_data/Q1_maternal_char_v6.csv')
q1.head()

,Mother_Education_Code,Mother_Weight_Gain_Code,Pre-pregnancy_Diabetes_Code,Pre-pregnancy_Hypertension_Code,Five_min_APGAR_score_code,Average_Age_Mother_years,Average_Birth_Weight_grams,Average_Prenatal_Visits,Average_OE_Gestational_Age_weeks,Average_Pre-pregnancy_BMI,Births
0,1.0,0,1,1,3,36.00,830.00,3.00,24.00,45.20,1
1,1.0,0,1,1,6,39.00,791.00,0.00,23.00,32.40,1
2,1.0,0,1,1,7,36.00,3560.00,20.00,37.00,38.60,1
3,1.0,0,1,1,8,35.17,2890.83,9.33,36.67,37.95,6
4,1.0,0,1,1,9,36.04,3041.73,15.58,38.08,39.78,26

In [6]:
#list(q1)
q1.count()

Mother_Education_Code               21797
Mother_Weight_Gain_Code             23403
Pre-pregnancy_Diabetes_Code         23403
Pre-pregnancy_Hypertension_Code     23403
Five_min_APGAR_score_code           23403
Average_Age_Mother_years            23403
Average_Birth_Weight_grams          23403
Average_Prenatal_Visits             23038
Average_OE_Gestational_Age_weeks    23374
Average_Pre-pregnancy_BMI           23289
Births                              23403
dtype: int64

In [7]:
clean_q1 = q1.dropna()
clean_q1.count()

Mother_Education_Code               21423
Mother_Weight_Gain_Code             21423
Pre-pregnancy_Diabetes_Code         21423
Pre-pregnancy_Hypertension_Code     21423
Five_min_APGAR_score_code           21423
Average_Age_Mother_years            21423
Average_Birth_Weight_grams          21423
Average_Prenatal_Visits             21423
Average_OE_Gestational_Age_weeks    21423
Average_Pre-pregnancy_BMI           21423
Births                              21423
dtype: int64

In [8]:
clean_q1.to_csv("machine_learn_data/final_clean_data/Q1_maternal_char_v7.csv", index=False)

In [9]:
q2 = pd.read_csv('machine_learn_data/Q2_labor_char_v6.csv')
q2.head()

,Anesthesia_code,Antibiotics_for_Mother_code,Induction_of_Labor_Code,Steroids_Code,Five_min_APGAR_score_code,Average_Age_Mother_years,Average_Birth_Weight_grams,Average_Prenatal_Visits,Average_OE_Gestational_Age_weeks,Average_Pre-pregnancy_BMI,Births
0,1,1,1,1,0,27.65,2307.88,10.31,32.65,29.29,17
1,1,1,1,1,1,29.14,1540.01,8.30,29.83,29.40,110
2,1,1,1,1,2,28.78,1804.33,8.59,31.30,30.42,115
3,1,1,1,1,3,27.79,1887.41,9.33,32.37,29.38,141
4,1,1,1,1,4,27.58,2000.79,9.38,32.79,30.10,244

In [10]:
q2.count()

Anesthesia_code                     250
Antibiotics_for_Mother_code         250
Induction_of_Labor_Code             250
Steroids_Code                       250
Five_min_APGAR_score_code           250
Average_Age_Mother_years            250
Average_Birth_Weight_grams          250
Average_Prenatal_Visits             249
Average_OE_Gestational_Age_weeks    250
Average_Pre-pregnancy_BMI           250
Births                              250
dtype: int64

In [11]:
clean_q2 = q2.dropna()
clean_q2.count()

Anesthesia_code                     249
Antibiotics_for_Mother_code         249
Induction_of_Labor_Code             249
Steroids_Code                       249
Five_min_APGAR_score_code           249
Average_Age_Mother_years            249
Average_Birth_Weight_grams          249
Average_Prenatal_Visits             249
Average_OE_Gestational_Age_weeks    249
Average_Pre-pregnancy_BMI           249
Births                              249
dtype: int64

In [12]:
clean_q2.to_csv("machine_learn_data/final_clean_data/Q2_labor_char_v7.csv", index=False)

In [13]:
q3 = pd.read_csv('machine_learn_data/Q3_delivery_char_v6.csv')
q3.head()

,Month_code,Birthplace_code,Delivery_method_code,Fetal_presentation_code,Five_min_APGAR_score_code,Average_Age_Mother_years,Average_Birth_Weight_grams,Average_Prenatal_Visits,Average_OE_Gestational_Age_weeks,Average_Pre-pregnancy_BMI,Births
0,1,1,1,1,0,27.78,1948.11,8.06,30.03,27.83,172
1,1,1,1,1,1,27.87,1354.81,6.65,26.65,28.9,880
2,1,1,1,1,2,27.63,2263.18,8.61,32.50,27.41,602
3,1,1,1,1,3,27.53,2775.35,10.08,35.71,27.6,647
4,1,1,1,1,4,27.41,2875.56,10.15,36.63,26.93,905

In [14]:
q3.count()

Month_code                          6158
Birthplace_code                     6158
Delivery_method_code                6158
Fetal_presentation_code             6158
Five_min_APGAR_score_code           6158
Average_Age_Mother_years            6158
Average_Birth_Weight_grams          6158
Average_Prenatal_Visits             5876
Average_OE_Gestational_Age_weeks    6043
Average_Pre-pregnancy_BMI           6158
Births                              6158
dtype: int64

In [16]:
clean_q3 = q3.dropna()
clean_q3.count()

Month_code                          5824
Birthplace_code                     5824
Delivery_method_code                5824
Fetal_presentation_code             5824
Five_min_APGAR_score_code           5824
Average_Age_Mother_years            5824
Average_Birth_Weight_grams          5824
Average_Prenatal_Visits             5824
Average_OE_Gestational_Age_weeks    5824
Average_Pre-pregnancy_BMI           5824
Births                              5824
dtype: int64

In [17]:
clean_q3.to_csv("machine_learn_data/final_clean_data/Q3_delivery_char_v7.csv", index=False)